body{
    font-family: 'Open Sans', sans-serif;

}
input {
    outline: none;
}
body .banner {
   background-image: url(../images/UN0642170.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   width: 100%;
   height: 90vh;
   text-align: center;

   
}
body .banner h1 {
    font-size: 65px;
    color: #FFFFFF;
    margin: 0px auto;
    text-shadow: 5px 5px 5px rgb(85, 85, 85);
    width: 55%;
    padding-top: 100px;
    text-align: center;
    
}
body .banner p {
    width: 50%;
    color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(15, 15, 15);

}
body .banner button {
    color:  #ffffff;
    background-color: #FF5959; 
    Width: 160px;
    height: 50px;
    border-radius: 5px;
    Padding: 16px, 12px, 16px, 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}
body .donate-today {
    text-align: center;
}
body .donate-today h1 {
    font-size: 45px;
    font-weight: 700;
    flood-color: #121212;
    text-align: center;
    margin-top: 70px;
}
body .donate-today p {
    color: #121212;
    font-size: 16px;
    width: 50%;
    text-align: center;
    margin: 0px auto;
}
body .donate-today button {
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    border: none;  
    background: #FAFAFA;
    border-radius: 5px;
    width: 120px;
    height: 110px;
    margin: 50px 10px;
}
body .donate-today button:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
body .donate-today form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #B3B3B3;
    font-size: 16px;
    text-align: center;
    width: 40%;
    padding-bottom: 10px;
}
body .donate-today form input::placeholder {
    color: #B3B3B3;
    
}

body .donate-today #a {
    color:  #ffffff;
    background-color: #FF5959; 
    Width: 160px;
    height: 50px;
    border-radius: 5px;
    Padding: 16px, 12px, 16px, 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}
body .plan{
    text-align: center;
}
body .plan h1 {
    color: #121212;
    font-weight: 700;
    font-size: 40px;
    margin-top: 90px;
}
body .plan p {
   width: 70%;
   margin: 0px auto;
}
body .plan .food {
    background-color: #FAFAFA;
}
body .plan .boxes {
    width: 70%;
    margin: 40px auto;
    display: flex;
}
body .plan .food {
    width: 25%;
    background-color: #d5f6f8;
    margin: 20px;
    text-align: left;
    padding: 30px;
    border-radius: 4px;
}
body .plan .food img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}
body .plan .food h1 {
    margin-top: 20px;
    font-size: 20px;
}

body .plan .food p {
    font-size: 14px;
    margin: 20px 0px 0px 0px;
    width: 92%;
}

body .plan .shelter {
    width: 25%;
    background-color: #FFEEEE;
    margin: 20px;
    text-align: left;
    padding: 30px;
    border-radius: 4px;
}
body .plan .shelter img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}
body .plan .shelter h1 {
    margin-top: 20px;
    font-size: 20px;
}

body .plan .shelter p {
    font-size: 14px;
    margin: 20px 0px 0px 0px;
    width: 92%;
}

body .plan .education {
    width: 25%;
    background-color: #FFF4D6;
    margin: 20px;
    text-align: left;
    padding: 30px;
    border-radius: 4px;
}
body .plan .education img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}
body .plan .education h1 {
    margin-top: 20px;
    font-size: 20px;
}

body .plan .education p {
    font-size: 14px;
    margin: 20px 0px 0px 0px;
    width: 92%;
}
body .container {
    display: flex;
    background-color: rgb(247, 247, 247);
    margin-top: 50px;

}
body .member {
    width: 45%;
    padding: 130px 10px 30px 100px;
    
}
body .member h1 {
    font-size: 40px;
}
body .member p {
    text-align: justify;
}

body .form {
    width: 45%;
}
body .leaders .form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 460px;
    height: 460px;
    box-sizing: border-box;
    margin: 50px 70px 50px 60px;
  }
  .form h2 {
    color: #ffffff;
    margin: 0;
    font-size: 2em;
    padding-bottom: 10px;
  }
  .form input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin-top: 10px;
    outline: none;
    width: 100%;
  }
  .form #get {
    margin-top: 30px;
    display: inline-block; 
    text-decoration: none;
  }
  .form a {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    padding: 18px 24px;
    margin: 30px auto;
    margin-bottom: 10px;
  }
  body .update {
    text-align: center;
    margin-top: 50px;
    margin: 0px 200px;
 } 

 .color {
	padding: 80px 200px 70px 200px;
	background-color: #fff4d6;
	border-radius: 10px;
	margin: 30px 100px 0px 100px;
}
.color input {
	padding: 14px;
	width: 300px;
	font-size: 14px;
	font-weight: 500;
	border: none;
	background-color: #d9d9d9;
	color: #aa9f9f;
	transform: translate(5px, 0px);
	border-radius: 5px 0px 0px 5px;
}
.update .color button {
	border: none;
	width: 20%;
	padding: 14px;
	border-radius: 0px 6px 6px 0px;
	background-color: #ff5959;
	color: #ffffff;
	font-size: 14px;
}
 .black {
     background-color: #121212;
     text-align: center;

 }
 .black h1 {
    font-style: italic;
    color: #FF5959;
    padding-top: 40px;
    
 }
 .black h5 {
     color: #B3B3B3;
     font-weight: 200;
     padding-bottom: 50px;
 }